* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  src: url(https://fonts.gstatic.com/s/roboto/v15/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2);
}

body {
  background-color: #edeef0;

  font-family: "Roboto", sans-serif;
  color: #818c99;
  text-decoration-skip-ink: none;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 50%;
  height: 100vh;
  padding: 20px 0;

  @media screen and (max-width: 1200px) {
    width: 80%;
  }
}

.form {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  gap: 12px;
  padding: 12px;

  &__search {
    width: calc(100% - 24px);
    color: #818c99;

    background-color: #ffffff;
    border: 1px solid #d3d9de;
    border-radius: 6px;
    padding: 9px 12px 10px;
    line-height: 15px;
    word-wrap: break-word;
    font-family: inherit;

    &::-webkit-search-cancel-button {
      cursor: pointer;

    }
  }

  &__button {
    background-color: #673ab7;
    padding: 10px;
    border: none;
    border-radius: 6px;
    color: #e1e3e6;
    font-family: inherit;
    cursor: pointer;
  }
}

.form, .repos {
  border: 1px solid #d3d9de;
  width: 100%;

  display: flex;
  background-color: #ffffff;
}

.repos {
  overflow: auto;
  flex-grow: 1;
  flex-direction: column;
  gap: 12px;
  padding: 16px 12px;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  scrollbar-color: #d3d9de transparent;
  scrollbar-width: thin;

  &__empty {
    margin: 40px 0;
    align-self: center;
  }


  &::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #d3d9de;
    border-radius: 9em;
  }

  @media screen and (max-width: 1000px) {
    height: 600px;
  }

  @media screen and (max-width: 500px) {
    height: 300px;
  }
}

.repo {
  display: flex;
  flex-direction: column;
  gap: 12px;

  padding: 12px;

  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #d3d9de;

  line-height: 15px;
  word-wrap: break-word;

  &__row {
    display: flex;
  }

  &__title {
    color: #673ab7;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }

  &__avatar {
    height: 28px;
    width: 28px;
    object-fit: cover;
    border-radius: 6px;
  }

  &__author {
    display: flex;
    gap: 8px;
    align-items: center;
    text-decoration: none;

    &-name {
      color: #673ab7;
    }
  }
}